.a11y-accordion {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.a11y-accordion .a11y-accordion__item >button{
  border:none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 14px;
}
.a11y-accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms ease;
  padding: 0 1rem;
}

.a11y-accordion__content > p {
  overflow: hidden;
}

.a11y-accordion__content:not(.--hidden) {
  grid-template-rows: 1fr;
}